* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

h1, h2 {
    text-align: center;
}

#searchBar {
    display: block;
    margin: auto;
    text-align: center;
    min-width: 65%;

    background-color: lightgrey;
    border: 1px solid black;
    font-size: 2rem;
}

#searchButton {
    display: block;
    margin: 2rem auto;
}

#searchAttribute, #searchLimit {
    text-align: center;
    margin: 2rem;
}

#resultsDescription {
    text-align: center;
}

#resultPreview {
    text-align: center;
}

#resultsDisplay {
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

.result {
    margin: 1rem;
}